<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Meu Projeto Flask</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
</head>

<body>
    <div class="container">
        <div class="text-center">
            <h1>Bem-vindo ao Meu Projeto Flask</h1>
            <p>Este é um projeto simples desenvolvido com Flask, um micro-framework web escrito em Python.</p>
            <p>O Flask é conhecido por sua simplicidade e facilidade de uso, sendo uma ótima opção para o
                desenvolvimento de aplicações web.</p>
            <p>Neste projeto, você aprenderá a criar funcionalidades CRUD (Create, Read, Update, Delete) para gerenciar
                produtos.</p>
            <p>Pressione o botão abaixo para acessar a página de produtos:</p>
            <a href="/produtos" class="btn btn-primary">Acessar Página de Produtos</a>
        </div>
    </div>
</body>

</html>